<!doctype html>
<html>
<head>
    <title>Drown The Clown</title>
    <!-- Version <%= get_version %> -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1,minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="assets/icon_clothespin.png">

    <script>
        window.APP_VERSION = "<%= get_version %>";
    </script>
    <%= stylesheet_tag main_css %>
</head>
<body>
  <div class='content'></div>
  <%= javascript_tag main_js %>
</body>
</html>