#game {
    display: none;
    width: 700px;
    height: 350px;
    position: relative;
    background-image: url('background_select.png');
    background-repeat: no-repeat;
    overflow: hidden;
}
#game #clowns {
    position: absolute;
    bottom: -250px;
}
#game #clown {
    position: absolute;
    bottom:0px;
}
#game #guns {
    position: absolute;
    bottom:0px;
    left: 132px;
}
#game #balloon1 {
    bottom: 193px;
    left: 71px;
}
#game #balloon2 {
    bottom: 204px;
    left: 207px;
}
#game #balloon3 {
    bottom: 209px;
    left: 342px;
}
#game #balloon4 {
    bottom: 205px;
    left: 477px;
}
#game #balloon5 {
    bottom: 193px;
    left: 611px;
}
#game div.balloon {
    position: absolute;
    width: 72px;
    height: 95px;
}
#game div.balloon img.balloon {
    position: absolute;
    bottom: 0px;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -o-transform-origin: center bottom;
}
#game div.balloon img.boom {
    display: none;
    position: absolute;
    top: -12px;
    left: -54px;
    width: 120px;
}
#game div.balloon img.splash {
    display: none;
    position: absolute;
    top: -21px;
    left: -52px;
}
#game div.number {
    position: absolute;
    bottom: 63px;
    display: none;
}

#game div.number div {
    position: absolute;
    width: 53px;
    height: 52px;
}

@-webkit-keyframes outline {
  	0% {
    	-webkit-transform: scale(1);
  	}
  	50% {
	    -webkit-transform: scale(1.3);
  	}
  	100% {
    	-webkit-transform: scale(1);
  	}
}

#game div.number div:first-child {
    opacity: 0.5;
}

#game div.number:hover div:first-child {
    -webkit-animation: outline 1s infinite;
}

#game #number1 {
    left: 151px;
}
#game #number1 div {
    background-image: url('number1.png');
}
#game #number2 {
    left: 246px;
}
#game #number2 div {
    background-image: url('number2.png');
}
#game #number3 {
    left: 319px;
}
#game #number3 div {
    background-image: url('number3.png');
}
#game #number4 {
    left: 401px;
}
#game #number4 div {
    background-image: url('number4.png');
}
#game #number5 {
    left: 489px;
}
#game #number5 div {
    background-image: url('number5.png');
}
#game .drown {
    position: absolute;
    background-repeat: no-repeat;
}
#game #drown1 {
    width: 0px;
    height: 125px;
    right: 521px;
    bottom: 0px;
    background-image: url('splash1.png');
    background-position-x: right;
}
#game #drown2 {
    width: 0px;
    height: 132px;
    right: 431px;
    bottom: 16px;
    background-image: url('splash2.png');
    background-position-x: right;
}
#game #drown3 {
    width: 43px;
    height: 0px;
    left: 323px;
    bottom: 82px;
    background-image: url('splash3.png');
}
#game #drown4 {
    width: 0px;
    height: 137px;
    left: 437px;
    bottom: 5px;
    background-image: url('splash4.png');
}
#game #drown5 {
    width: 0px;
    height: 125px;
    left: 516px;
    bottom: 0px;
    background-image: url('splash5.png');
}
#game #chooseGun {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
#game #balloons {
    position: absolute;
    top: -114px;
    left: 195px;
}
#welcome {
    width: 700px;
    height: 350px;
    position: relative;
    overflow: hidden;
    background-image: url('bg.png');
    background-repeat: no-repeat;
}
#welcome.light {
    background-image: url('background_light.png');
}
#welcome #background {
    width: 700px;
    height: 350px;
    position: absolute;
    top: 0px
    left: 0px;
    opacity: 0.5;
    background-color: #000;
}
#welcome .flight-balloons {
    position: absolute;
    bottom: -420px;
    left: 214px;
}
#welcome #prize {
    position: absolute;
    top: 126px;
    left: 128px;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(2,1.5);
    transform: scale(2,1.5);
    display: none;
}
#welcome #splash {
    position: absolute;
    top: 102px;
    left: 53px;
    display: none;
}
#welcome #ribbon-back {
    position: absolute;
    top: 117px;
    left: 240px;
    display: none;
}

#welcome #ribbon1 {
    position: absolute;
    top: 76px;
    right: 254px;
    width: 0px;
    height: 84px;
    background-image: url('ribbon-1.png');
    background-position-x: right;
    background-repeat: no-repeat;
}

#welcome #ribbon2 {
    position: absolute;
    top: 209px;
    left: 236px;
    width: 0px;
    height: 84px;
    background-image: url('ribbon-2.png');
    background-position-x: left;
    background-repeat: no-repeat;
}

.pch {
    position: absolute;
    left: 5px;
    top: 5px;
}

#welcome #welcome-you {
    display: none;
    background-image: url('popover.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 545px;
    height: 350px;
    top: 0px;
    left: 78px;
    padding-top: 50px;
    font-family: helvetica;
    text-align: center;
    color: rgb(65, 65, 65);
}

#welcome #welcome-you h1 {
    font-size: 40px;
    font-weight: normal;
}

#welcome #welcome-you p {
    font-size: 23px;
}

#welcome-you .button {
    cursor: pointer;
    width: 205px;
    margin-left: 152px;
    height: 26px;
    background: transparent;
}

#bye {
    width: 700px;
    height: 350px;
    position: relative;
    overflow: hidden;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    display: none;
}

#bye .flight-balloons {
    position: absolute;
    bottom: -160px;
    left: 214px;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
}

#bye #way {
    position: absolute;
    left: 178px;
    top: 106px;
}

#bye #keep {
    position: absolute;
    left: 80px;
    top: 166px;
}
